.advert-edit {
    flex: 1 0 auto;
}

.inputs {
    display: block;
    margin-bottom: 0.5rem;
    margin-top: 0.3rem;
    margin-right: auto;
    margin-left: auto;
    height: 20px;
    border: 1px solid #d8d8d8;
    padding: 3px;
}

.center {
    text-align: center;
    margin-bottom: 0.5rem;
}